<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CE.core" version="0.1" targetFramework="net45" />
  <package id="MonoGame.Extended" version="0.6.377" targetFramework="net45" />
  <package id="MonoGame.Extended.Input" version="0.6.377" targetFramework="net45" />
  <package id="MonoGame.Framework.DesktopGL" version="3.6.0.1625" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="NuGet.Build.Packaging" version="0.1.248" targetFramework="net45" developmentDependency="true" />
</packages>